:root {
    --font-color: #F8F0FB;
    --background-dark: #6320ee;
    --background-light: #8075FF;
}
body {
    background-color: #211A1D;
    font-family: "Zalando Sans Expanded", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.row-gap {
    column-gap: 5px;
}
#navbar {
    border: 2px solid var(--font-color);
    border-radius: 5px;
    background-color: var(--background-dark);
    padding: 7px;
    justify-content: space-around;
}
a {
    text-decoration: none;
}
.nav-button {
    padding: 5px;
    text-align: center;
}
.nav-link {
    font-weight: 700;
    text-decoration: underline;
}
footer {
    background-color: var(--background-dark);
    padding: 7px;
    border: 2px solid var(--font-color);
    border-radius: 5px;
}
main {
    padding: 15px;
    margin: 20px 150px;
    background-color: var(--background-light);
}
section, article, .performer {
    padding: 20px;
}
section {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 5px;
}
p, h1, h2, h3, h4, h5 time, a {
    color: var(--font-color);
    margin: 0;
}
h1, h2, h3 {
    text-decoration: underline;
}
a.active {
    color: #00ffff;
    font-weight: 900;
}
.performer-item {
    padding: 7px;
    background-color: var(--background-dark);
    border: 2px solid var(--font-color);
    border-radius: 5px;
}
.performer {
    column-gap: 15px;
}
.country-flag {
    height: 30px;
}
.column {
    display: flex;
    flex-direction: column;
}
time {
    font-size: 10px;
    font-weight: 300;
}
div.tag {
    background-color: var(--background-light);
    padding: 5px;
    border-radius: 10px;
}
.link-icon svg path {
    fill: var(--font-color);
}
.m-top {
    margin-top: 5px;
}